$color: rgb(238, 232, 232);
$background-color-body: rgb(33, 47, 60);
// $background-color-board: blue;
$alive-color: white;
$alive-hover-color: pink;
$border-color: darkGray;
$cell-size: 5px;

body {
  width: 100vh;
  color: black;
  background-color: rgb(146, 135, 146); 
  text-align: center;
  font-family: Bookman, URW Bookman L, serif;
}

table {
  margin: 0 auto 20px auto; 
  border-collapse: collapse;
  background-color: black;
}

td {
  width: $cell-size;
  height: $cell-size; 
  // Removing border makes a fluid grid
  border: 1px solid $border-color;
}

.alive {
  background-color: $alive-color;


  &:hover {
    background-color: $alive-hover-color;

  }
}

.dead {

  &:hover {
    background-color: $border-color;

  }
}

button {
  border: none;
  outline: none;
  border-radius: 20px;
  margin: 20px 10px;
  padding: 10px 15px;
  font-size: 18px;  
  color: $color;
  background-color: rgb(173, 153, 156);
  cursor: pointer;

  &:hover {
    color: $alive-hover-color;
  }
}

.flexRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.upperControls,
.lowerControls {
  margin: auto;
}

.upperControls {
  width:350px;
}

.lowerControls {
  width:500px;
}

input {
  color: !important rgb(51, 45, 45);
}